[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
django = "*"
djangorestframework = "*"

[dev-packages]
pylint = "*"
yapf = "*"
black = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
